[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[12EA3100EA30E221]
row=4
col=0

[DCEC711BEC70F15E]
row=5
col=0

[A460B8A760B8819A]
row=6
col=0

[Trash]
row=2
col=0

[/]
row=0
col=0

[/home/lucifer]
row=1
col=0

